*{
  margin: 0px;
padding: 0px;

}
.App{
background-color:rgb(92, 8, 92);
width: 100%;
height: 800px;
display: flex;
justify-content: center;
align-items: center;

}
.container{
  background-color: whitesmoke;
  height: 400px;
  width:500px;
  border: 2px solid white;
  box-shadow: 2px 3px 4px rgb(47, 0, 47);
  border-radius: 20px;
  padding: 20px;
}

.heading {
  text-align: center;
}

.heading h1{
  text-shadow: 2px 2px 3px ;
  color: rgb(76, 11, 76);

}

.heading h3{
  margin-top: 10px;
  text-shadow: 1px 1px 2px ;
  color: rgb(123, 11, 123);

}

.total{
 height: 60px;
 width: 250px;
 display: flex;
 justify-content: center;
 align-items: center;
padding: 10px;
margin-top: 20px;
margin-left: 120px;
color: rgb(66, 6, 121);

}

.total h3{
  text-align: center;
  font-weight: bolder;
  font-size: x-large;

}

.input{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: space-between;
  height: 130px;
}

.buton{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  
}

#b1{
background-color: rgb(18, 131, 22);
}

#b2{
  background-color: rgb(210, 24, 24);
}